.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #FFC107;
}

.form-control {
  outline: none;
  border: none;
  background-color: #FFC107;
}

.form-control:focus {
  background-color: #FFC107;

}

.location {
  font-size: 25px;
  font-weight: 700;
}

.current-temp {
  font-size: 50px;
  font-weight: 700;
}

.feels-like {
  font-size: 18px;
  color: #40464d;
  font-weight: 500;
}

.weather-summary {
  font-size: 28px;
  font-weight: 600;
}

.details-item {
  color: #40464d;
  text-transform: capitalize;
  font-weight: 600;
}

.value {
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}

.daily-conditions {
  margin: 1rem 0;
  padding: 10px;
}

.daily-week-day {
  padding: 10px 0;
  border-top: 1px solid black;
  font-size: 14px;
  font-weight: 700;
}

.min-temp {
  margin-right: 5px;
  color: #677988;
  font-weight: 500
}

.wind-speed-daily {
  margin: 0 5px;
  font-weight: 600;
}

.wind-speed-daily::after {
  content: 'm/s';
  margin-left: 3px;
}

.max-temp::after {
  content: '°C';
  margin-left: 3px;
  font-weight: 600;
}

.max-temp {
  font-weight: 500
}

.powered-by-logo {
  max-width: 100px;
  padding: 10px;
  filter: invert(19%) sepia(37%) saturate(4559%) hue-rotate(8deg) brightness(112%) contrast(106%);
  -webkit-filter: invert(19%) sepia(37%) saturate(4559%) hue-rotate(8deg) brightness(112%) contrast(106%);
}

/* pac */
.pac-container {
  background-color: #FFC107
}

.pac-item {
  border-top: 1px solid #343a40;
  color: #686b6c;
  font-weight: 600
}

.pac-item:last-child {
  border-bottom: 1px solid #343a40
}

.pac-item:hover {
  background-color: #c69b1a
}

.pac-icon {
  filter: invert(81%) sepia(0%) saturate(1206%) hue-rotate(169deg) brightness(90%) contrast(99%);
}